h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: blueviolet;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

canvas {
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}