* {
    font-family:cursive;
}

.orangeText {
    color: rgb(255, 128, 0);
}

.brownText {
    color: brown;
}

/* Below are modal window related CSS */
#statsModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
}

#modalContent {
    background-color: rgb(245, 245, 245);
    margin: 25% auto; 
    padding: 0 30px 20px 30px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 380px; 
}

#statsContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover, #close:focus {
  color: rgb(222, 20, 20);
  text-decoration: none;
  cursor: pointer;
}

#message {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: blueviolet;
}

#timeLivesWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#completionPoints {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#pointsBreakdownWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

#x3MultiplierWrapper > div {
    margin-left: 25px;
}

#x2MultiplierWrapper > div {
    margin-left: 25px;
}

#noMultiplierWrapper > div {
    margin-left: 25px;
}

#progressionBtnWrapper {
    display: flex;
    justify-content: center;
}

#retryBtn, #nextLevelBtn {
    padding: 3px 20px;
    background: rgb(154, 235, 248);
    border-radius: 3px;
    display: none;
}

#retryBtn:hover, #nextLevelBtn:hover {
    cursor: pointer;
    background: rgb(107, 223, 240);
}

#retryBtnsWrapper {
    display: flex;
    gap: 50px;
}

#restartBtn {
    padding: 3px 20px;
    background: orange;
    border-radius: 3px;
    display: none;
}

#restartBtn:hover {
    cursor: pointer;
    background: rgb(255, 128, 0);
}


/* Above are modal window related CSS */
#title {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: blueviolet;
}

#introWrapper {
    border: 1px solid grey;
    border-radius: 5px;
    width: 1000px;
    margin: 0 auto 10px auto;
    padding-top: 10px;
    padding-left: 10px;
    background: rgb(245, 245, 245);
}

#intro {
    width: 1000px;
    margin: 0 auto 5px auto;
}

#countersWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

#timeCounterWrapper {
    margin-top: 10px;
}

#counterSubwrapper {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    text-align: right;
}

#startBtn {
    margin-left: 10px;
    padding: 3px 5px;
    background: rgb(154, 235, 248);
    border-radius: 3px;
}

#startBtn:hover {
    cursor: pointer;
    background: rgb(107, 223, 240);
}

#points {
    color: green;
}

#lives {
    color: brown;
}

canvas {
    border: 1.5px solid grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}