h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: blueviolet;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

canvas {
    border: 1.5px solid grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}